body {background-color:#40E0D0;}
	background-image: https://orange-object.github.io/dude/index2.html;

}

        a{color:#3383ff}
	a: hover{color:#009dff}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #008000;
}

l {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #008000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 60%;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

al {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0000FF;
}


ll {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0000FF;
}

ll {
    float: left;
}

ll a {
    display: block;
    color: white;
    text-align: center;
    padding: 60%;
    text-decoration: none;
}

ll a:hover {
    background-color: #111111;
}

.img-with-text {
    text-align: justify;
    width: [width of img];
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}
